/* @font-face {
    font-family: "Raleway";
    src: url("assets/fonts/Raleway-VariableFont_wght.ttf") format("ttf")
} */

html,
body {
    padding: 0;
    margin: 0;
    font-variation-settings: 'wght' 500;
    font-weight: 500;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 21px;
}

body {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Economica', sans-serif;
}

body>* {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    border-right: dashed black 1px;
    scroll-behavior: smooth;
}

body>main>section {
    padding: 0;
    margin: 0;
    display: flex;
}

h1,
h2,
h3,
h4 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-variation-settings: 'wght' 100;
    font-weight: 100;
}

h1 {
    font-size: 26px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 21px;
    width: 100%;
    text-align: center;
}

h3 {
    margin: 0 5px;
}

body>aside {
    width: 20vw;
    flex-flow: column wrap;
}

body>main {
    display: flex;
    flex-flow: row nowrap;
    width: 80vw;
}

body>main>section {
    flex-flow: column wrap;
    height: 100%;
    background-color: white;
}

a {
    color: red;
    text-decoration: none;
    font-weight: none;
    cursor: pointer;
}


/* NAVIGATION PRINCIPALE */

nav {
    width: 100%;
    height: 40%;
}

nav>ul>li {
    list-style: none;
    margin: 10px;
    padding: 6px 12px;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
}

nav a {
    text-transform: uppercase;
}


/* CLASSES GENERIQUES */

.logo {
    width: 80%;
    margin: 10px;
}

section>header {
    min-height: 60px;
}

i {
    float: right;
    margin: 20px;
    cursor: pointer;
}


/* NOTICES */

.notices {
    flex-flow: column nowrap;
    width: 100%;
}

.notices>header {
    background-color: black;
    color: #fff;
}

.notices>header>h1 {
    display: block;
    margin: 0;
    padding: 20px 0 10px;
}

.notices>section {
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
}

.notices>section>article {
    display: flex;
    flex-flow: column nowrap;
    min-height: 200px;
    width: 50%;
    box-sizing: border-box;
    background: 50% no-repeat;
    background-size: 100%;
    transition: all .3s ease;
    position: relative;
}

.notices a {
    display: flex;
    background: 50% no-repeat;
    background-size: 100%;
    transition: all .3s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* margin-top: -100%; */
}

.notices article:hover {
    background-size: 120%;
}

.notices a>span {
    display: flex;
    margin: auto;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15%;
    opacity: 0;
    transition: opacity .3s ease;
}

.notices a:hover>span {
    opacity: 1;
}

.notices article>p {
    color: white;
    text-shadow: 0px 1px 3px black;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* COLLECTIONS */

.collection {
    border-right: dashed black 1px;
}

.collection>header {
    background-color: yellow;
    margin-bottom: 30px;
}

.collection>header>h1 {
    display: block;
    margin: 0;
    padding: 20px 0 10px;
}

.collection>section {
    padding: 10px 30px;
}


/* DIVERS */

.icone {
    width: 24px;
    height: 24px;
    margin: auto;
    transition: transform .3s ease;
}

.icone:hover {
    transform: rotate(30deg);
}


/* MEDIA QUERIES */

@media (max-width: 999px) {
    body {
        overflow-y: auto;
    }
    body,
    body>main {
        flex-flow: column nowrap;
        width: 100vw;
    }
    body>main>section:nth-child(1),
    body>main>section:nth-child(2) {
        width: 100vw;
    }
    body>aside,
    .notices,
    .collection,
    .notices>header,
    .notices>section {
        width: 100vw;
    }
    body>aside>a {
        width: 100vw;
        text-align: center;
    }
    .notices>section>article {
        width: 100vw;
    }
}


/* NOTICE */

.notice {
    visibility: hidden;
    position: absolute;
    left: 100vw;
    width: 80vw;
    height: calc(100vh - 60px);
    top: 60px;
    background-color: rgba(255, 255, 255, .9);
    transition: all .3s ease;
}

.vu {
    left: 20vw;
    visibility: visible;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .notices>section>article {
        width: 33.33%;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1700px) {
    .notices>section>article {
        width: 25%;
    }
}

@media screen and (min-width: 1701px) {
    .notices>section>article {
        width: 20%;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: yellow;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}