/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 17px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Serif SC', serif;
}

a {
    text-decoration: none;
    transition: all .3s ease;
    color: red;
}

a>img {
    float: right;
    transition: all .3s ease;
}

a:hover>img {
    opacity: .7;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

main>* {
    height: 100vh;
    box-sizing: border-box;
}

main>aside {
    display: flex;
    flex-flow: column wrap;
    width: 20vw;
    padding: 0 15px;
}

main>aside>* {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

main>aside>header {
    height: 25vh;
}

main>aside>section {
    height: 65vh;
    padding-top: 150px;
    border-right: dashed thin black;
    flex-flow: column wrap;
}

main>aside>footer {
    background-color: black;
    color: white;
}

section {
    overflow: hidden;
    overflow-y: auto;
}

footer {
    height: 10vh;
    width: 100%;
}

app-presentation {
    width: 35vw;
    padding: 0 50px;
}

app-projets {
    width: 45vw;
    border-left: dashed thin black;
    padding: 0 50px;
}

hr {
    border: none;
    height: 0;
    width: 80%;
    border-bottom: dashed black thin;
    margin: 20px 0 30px;
}

.noir {
    color: white;
    background-color: black;
    margin-left: -20px;
    border-left: yellow solid 30px;
    width: calc(100% + 20px);
}

.noir a {
    color: white;
}

.jaune {
    background-color: yellow;
}

img {
    width: auto;
}

.petite {
    max-width: 150px;
}