/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 17px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Serif SC', serif;
}

a {
    text-decoration: none;
    transition: all .3s ease;
    color: red;
}

a>img {
    float: right;
    transition: all .3s ease;
}

a:hover>img {
    opacity: .7;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

main>* {
    height: 100vh;
    box-sizing: border-box;
}

main>aside {
    display: flex;
    flex-flow: column wrap;
    width: 20vw;
    padding: 0 15px 0 40px;
}

main>aside>* {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

main>aside>header {
    height: 25vh;
}

main>aside>section {
    height: 65vh;
    padding-top: 150px;
    border-right: dashed thin black;
    flex-flow: column wrap;
}

main>aside>footer {
    background-color: black;
    color: white;
}

section {
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

footer {
    height: 10vh;
    width: 100%;
}

app-presentation {
    width: 35vw;
    /* padding: 0 50px; */
}

app-presentation>section {
    padding: 20px;
}

app-projets {
    width: 45vw;
    border-left: dashed thin black;
}

app-projets>section {
    padding: 20px;
}

hr {
    border: none;
    height: 0;
    width: 80%;
    border-bottom: dashed black thin;
    margin: 20px 0 30px;
}

.noir {
    color: white;
    background-color: black;
    margin-left: -20px;
    border-left: yellow solid 30px;
    width: calc(100% + 20px);
}

.noir a {
    color: white;
}

.jaune {
    background-color: yellow;
}

img {
    width: auto;
}

.petite {
    max-width: 150px;
}

.fleche {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: none;
    padding: 6px;
    position: absolute;
    top: calc(50% - 10px);
}

.gauche {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 10px;
}

.droite {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 10px;
}

@media (max-width: 920px) {
    main {
        flex-flow: column wrap;
    }
    main>aside,
    app-presentation {
        width: 50vw;
    }
    app-projets {
        width: 100vw;
    }
    app-presentation>section {
        padding: 20px 40px 20px 20px;
    }
    app-projets>section {
        padding: 20px 40px;
    }
    .fleche {
        display: inline-block;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: yellow;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}