header {
    height: 10vh;
    width: 100%;
}

header>img {
    float: right;
    max-width: 300px;
}

section {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
}

div {
    width: 100%;
    margin: auto;
}

footer {
    border-right: yellow solid 100px;
    margin: 0 -50px;
    width: calc(100% + 100px);
}