header>article {
    width: 65%;
    margin-left: auto;
}

hr {
    border: none;
    background-color: yellow;
    margin: 0;
}

article hr:nth-child(1) {
    height: 10vh;
    width: 100%;
}

article hr:nth-child(3) {
    height: 20vh;
    width: 100%;
}

img {
    max-width: 100%;
    margin: 15px auto;
}

footer>article {
    display: flex;
}

p {
    padding: 0 25px;
    margin: auto;
    width: 100%;
}

footer a {
    color: white;
}

@media (max-width: 980px) {
    header>article {
        width: 85%;
    }
}