<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemateria || Valorisation du patrimoine numérisé</title>
</head>

<body>
    <main>
        <aside>
            <header>
                <article></article>
                <article>
                    <hr>
                    <img [src]="dataServ.data.accueil.logo_petit">
                    <hr>
                </article>
            </header>
            <section>
                <article>

                </article>
            </section>
            <footer class="noir">
                <article>
                    <p>
                        Pour tous renseignements ou prestations
                    </p>
                </article>
            </footer>
        </aside>
        <app-presentation></app-presentation>
        <app-projets></app-projets>
    </main>
</body>

</html>