header {
    height: 10vh;
    width: 100%;
}

header>img {
    float: right;
    max-width: 300px;
}

section {
    height: 80vh;
    width: 100%;
    display: flex;
}

div {
    width: 100%;
    margin: auto;
}

footer {
    border-right: yellow solid 100px;
    margin: 0 -50px;
    width: calc(100% + 100px);
}

footer>article {
    display: flex;
    flex-direction: row;
    height: 100%;
}

footer>article>p {
    margin: auto;
}